@font-face {
    font-family: 'dina-pro';
    src: url('../assets/fonts/din-pro-bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'dina-pro';
    src: url('../assets/fonts/din-pro-medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'dina-pro-condensed';
    src: url('../assets/fonts/din-pro-condensed-light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'dina-pro-condensed';
    src: url('../assets/fonts/din-pro-condensed-regular.ttf');
    font-weight: 400;
}